@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

:root {
  --main-color: #d7c7ae;
  --primary-color: #8a6d46;
  --hover: #5a4d3e;
  --black: #2a201c;
  --white: #fff;
  --light-bg: #f3efec;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Playfair Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

section {
  padding: 5rem 7%;
}

.heading {
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 3rem;
  font-size: 4rem;
  margin-top: 4rem;
}

/*header*/

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--main-color);
  z-index: 1000;
}

.header .logo {
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(61, 61, 61);
  text-transform: capitalize;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.header .navbar a:hover {
  padding-bottom: 0.5rem;
  color: var(--primary-color);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

/*header*/

/*home*/

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/Imagens/foto1.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(70%);
}

.home .content {
  max-width: 60rem;
}

.home .content p {
  font-size: 6rem;
  font-weight: 100;
  color: rgb(49, 49, 49);
}

.home .botao {
  background-color: #daa35c;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.678);
  transition-duration: 0.4s;
}

.home .botao:hover {
  background-color: #d7c7ae;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/*home*/

/*about*/

.about {
  background-image: url(/Imagens/about-left.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 39rem;
}

.about .row .image img {
  width: 80%;
}
.about .row .content {
  flex: 1 1 51rem;
  padding: 5rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--primary-color);
}

.about .row .content p {
  font-size: 1.6rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.8;
}

.about .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons {
  flex: 1 1 16rem;
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons img {
  height: 5rem;
}

.about .content .icons-container .icons h3 {
  padding-top: 1rem;
  font-size: 1.6rem;
  color: #444;
  font-weight: normal;
  text-transform: capitalize;
}

/* about */

/*services*/

.services {
  background-color: var(--main-color);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.services .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .box-container .box:hover img {
  transform: scale(1.1);
}

.services .box-container .box .content {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
}

.services .box-container .box .content h3 {
  text-align: center;
  font-size: 3rem;
  color: var(--white);
  padding-top: 40rem;
  text-transform: capitalize;
}

.services .box-container .box:hover .content {
  display: flex;
}

/* services */
